<!DOCTYPE html>
<html>
<head>
  <title>Direct Payment Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <% if (paymentMethod === "mada") { %>
    <h2>Pay by Mada Card (1.00) SAR</h2>
    <% } else { %>
    <h2>Pay by Credit Card (1.00) SAR</h2>
    <% } %>
    <script>
      var wpwlOptions = {    registrations: {        requireCvv: true,        hideInitialPaymentForms: true    }}
    </script>
  <script async src="http://<%= process.env.API %>/v1/paymentWidgets.js?checkoutId=<%= result.id %>"></script>

  <% if (paymentMethod === "mada") { %>
    <form action="/payment-status/<%= result.id %>/mada" class="paymentWidgets">MADA</form>
  <% } else { %>
    <form action="/payment-status/<%= result.id %>/credit" class="paymentWidgets">VISA MASTER</form>
    <!-- <form action="/payment-status/<%= result.id %>/credit" class="paymentWidgets" data-brands="VISA MASTER"></form> -->
  <% } %>
</body>
</html>